* {
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/*Header*/
h1{
  padding-left: 50px;
  padding-top: 50px;
  color:white;
  text-align: left;
}
/*Sidebar Search button*/
h2{
    font-size: 40px;
    color: white;
    text-align: left; 
}
h3{

}
/*Sidebar topic*/
h4{
    font-size: 18px;
    border: none;
}
/*Sidebar topic*/
h5{
    border: none;
}
/*Footer*/
h6{
	color: black;
}
h7{
	font-size: 20px;
}
p{
  font-size: 14px;
  padding-left: 50px;
  text-align: left;
}

/* ============= Sidebar Menu ================*/
.sidenav {
    width: 200px;
    position: absolute;
    left: 10px;
    background: white;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}
/*Page content - Area next to sidebar*/
.main { 
    margin-left: 210px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/*Search buttons*/
.button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px;
    cursor: pointer;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*==================Header=======================*/
/* Style the header */
.header {
  border-left: 0;
  height: 300px;
  width:100%;
  padding:1px;
  background-image: url("book2.jpg");
  color: white;
}
/*=============Login Form====================*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.iconbutton {
    background: none;
    color: white;
    
    margin-top: 10px;
    margin-left: 15px;
    border: none;
    cursor: pointer;
   
    font-size: 30px;
    float:right;
    text-align: center;
    
}

.iconbutton:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 15%;
    border-radius: 50%;
}

.logincontainer {
    padding: 10px;
    color:black;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 48%; /* Could be more or less, depending on screen size */
    height: 60%;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
/*=============Search Bar====================*/
form.example input[type=text] {
    float: center;
    padding: 16px;
    width: 70%;
    border: none;
    margin-top: 8px;
    margin-left: 150px;
    font-size: 17px;
}
form.example button {
    margin-top: 10px;
    padding: 20px;
    background: none;
    color: white;
    font-size: 30px;
    border: none;
    border-left: none;
    cursor: pointer;
}
/*===============List Grid====================*/
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Style the buttons */
.btn {
    margin-top: 15px;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}

/*==============Style the footer==============*/
.footer {
  background-color: #f1f1f1;
  margin-bottom: 30px;
  position: static;
  width: 100%;

}

.footer .container {
   
  padding-top: 15px;
  text-align: center;
}

.footer .container a:link, a:visited{
    color: black;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0;
    text-decoration: none;
}

.footer .container a:hover, a:active{
    color: black;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0;
     color: gray;
}

h8{
    font-size: 12px;

}